{
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": [0],
    "no-extra-boolean-cast": [0]
  }
}
